<app-create-subcategory #create [categories]="categories" (subcategorySaved)="SubCategorySaved($event)"></app-create-subcategory>
<app-edit-subcategory #edit [categories]="categories" (subcategoryEdited)="SubCategoryUpdate($event)"></app-edit-subcategory>

<div class="row">
  <div class="col-lg-12 add">
    <button type="button" class="btn btn-info mr-1" data-toggle="modal" (click)="create.show()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <br><br>
  <div class="col-lg-12 table">
    <div class="card">
      <div class="card-header">
        Subcategorias
      </div>
      <div class="card-body">
        <table *ngIf="subcategories && subcategories.length !== 0" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Categoria</th>
              <th>Subcategoria</th>
              <th>Estatus</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subcategory of subcategories">
              <td class="info">{{ subcategory.category.name | titlecase }}</td>
              <td class="info">{{ subcategory.name | titlecase }}</td>
              <td>
                <span *ngIf="subcategory.active" class="badge badge-success">Activo</span>
                <span *ngIf="!subcategory.active"  class="badge badge-secondary">Inactivo</span>
              </td>
              <td class="button-actions">
                <button type="button" class="btn btn-ghost-primary" (click)="edit.show(subcategory)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-ghost-primary" (click)="changeStatus(subcategory)">
                  <i *ngIf="subcategory.active"  class="fa fa-times" aria-hidden="true"></i>
                  <i *ngIf="!subcategory.active" class="fa fa-check" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="subcategories && subcategories.length === 0" class="card text-white bg-danger text-center">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>No hay subcategorias para mostrar</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
