<div class="card card-accent-{{color}}">
    <div class="card-body" [routerLink]="['/tickets/view', 1]">
        <div class="row">
            <div class="col-md-4">
                lun. 28 sept. 2020 12:09
            </div>
            <div class="col-md-2 offset-6">
                Pendiente
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                [la descripcion va aqui]
            </div>
            <div class="col-md-2">
                <ngb-rating class="text-warning"  [rate]="1" [readonly]="true" [max]="5"></ngb-rating>
            </div>
        </div>
    </div>
</div>