<div class="card card-accent-{{color}}">
    <div class="card-body" [routerLink]="['/tickets/view', ticket._id]" *ngIf="ticket">
        <div class="row">
            <div class="col-md-4">
                {{this.creationDate.format('DD [de] MMMM [del] YYYY, HH:mm:ss')}}
            </div>
            <div class="col-md-2 offset-6" *ngIf="ticket.progress !== 4">
                Prioridad
            </div>
            <div class="col-md-2 offset-6" *ngIf="ticket.progress === 4">
                Calificación
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                {{ticket.description}}
            </div>
            <div class="col-md-2" *ngIf="ticket.progress === 4">
                <ngb-rating class="text-warning"  [rate]="1" [readonly]="true" [max]="5"></ngb-rating>
            </div>
            <div class="col-md-2" *ngIf="ticket.progress !== 4">
                <ngb-rating class="text-warning" [rate]="ticket.priority" [readonly]="true" [max]="3"></ngb-rating>
            </div>
        </div>
    </div>
</div>