<app-create-user #create (usercreated)="onUserSaved($event)"></app-create-user>
<app-edit-user #edit></app-edit-user>

<div class="row">
  <div class="col-lg-12 add">
    <button type="button" class="btn btn-info mr-1" data-toggle="modal" (click)="create.show()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <br><br>
  <div class="col-lg-12 table">
    <div class="card">
      <div class="card-header">
        Usuarios
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Estatus</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td class="info">{{user.name + ' ' + user.lastname}}</td>
              <td class="info">{{user.email}}</td>
              <td class="info">Usuario</td>
              <td>
                <span class="badge badge-success" *ngIf="user.active">Activo</span>
                <span class="badge badge-secondary" *ngIf="!user.active">Inactivo</span>
              </td>
              <td class="button-actions">
                <button type="button" class="btn btn-ghost-primary" (click)="edit.show(user._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-ghost-primary" (click)="changeStatus(user)">
                  <i *ngIf="user.active" class="fa fa-times" aria-hidden="true"></i>
                  <i *ngIf="!user.active" class="fa fa-check" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>