.fa-heart {
    color: red !important;
}

.upFile {
    display: none;
}

.avatar-status {
    font-size: 10px;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    display: block !important;
    width: 25px !important;
    height: 25px !important;
    border: 1px solid #fff !important;
    border-radius: 50em !important;
    padding-top: 4px;
}
