<div class="card">
    <div class="card-header bg-success">
        <i class="fa fa-commenting fa-lg"></i><b> Chat</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="message-list overflow-auto" *ngIf="messages">
                    <div class="row" *ngFor="let item of messages">
                        <div class="col-12">
                            <app-message [ticket]="item.ticket" [from]="item.from" [to]="item.to"
                                [message]="item.message" [type]="item.type" [date]="item.date"></app-message>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="ticket.progress !== 4">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-ghost-dark" [popover]="popTemplateHtml" placement="top" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"><i class="fa fa-smile-o fa-lg"></i></button>
                    </div>
                    <textarea class="form-control" type="textarea" [formControl]="message"
                        placeholder="Escribe un mensaje" (keyup)="autoscroll($event)"></textarea>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-ghost-success" tooltip="Enviar" placement="top" (click)="send()"><i
                                class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popTemplateHtml>
    <div>
        <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="emojiSelected($event)"
            [i18n]="{
                search: 'Buscar',
                emojilist: 'Lista de Emojis',
                notfound: 'Emoji no encontrado',
                categories: {
                    search: 'Resultados de la busqueda',
                    recent: 'Recientes',
                    people: 'Gente',
                    nature: 'Naturaleza',
                    foods: 'Comida',
                    activity: 'Actividades',
                    places: 'Lugares',
                    objects: 'Objetos',
                    symbols: 'Simbolos',
                    flags: 'Banderas'
                }
            }"></emoji-mart>
    </div>
</ng-template>
