<app-create-ticket #create></app-create-ticket>

<div class="row">
    <div class="col-lg-12 add">
        <button (click)="create.show()"  type="button" class="btn btn-info mr-1">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <br><br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Mis tickets
            </div>
            <div class="card-body">
                <tabset>
                    <tab>
                        <ng-template tabHeading>Pendientes &nbsp;<span class="badge badge-pill badge-warning">0</span></ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Asignado &nbsp;<span class="badge badge-pill badge-danger">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Completado &nbsp;<span class="badge badge-pill badge-primary">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Cancelado &nbsp;<span class="badge badge-pill badge-danger">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Tickets atendidos
            </div>
            <div class="card-body">
                <tabset>
                    <tab>
                        <ng-template tabHeading>Pendientes &nbsp;<span class="badge badge-pill badge-warning">0</span></ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Asignado &nbsp;<span class="badge badge-pill badge-danger">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Completado &nbsp;<span class="badge badge-pill badge-primary">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Cancelado &nbsp;<span class="badge badge-pill badge-danger">0</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                    <app-ticket></app-ticket>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>