<app-create-ticket #create [socket]="socket"  (ticketCreated)="onTicketCreated($event)"></app-create-ticket>

<div class="row">
    <div class="col-lg-12 add">
        <button (click)="create.show()"  type="button" class="btn btn-info mr-1">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <br><br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Mis tickets
            </div>
            <div class="card-body">
                <div class="row" *ngIf="!myTickets">
                    <div class="col-md-12">
                        <div class="card text-white bg-danger text-center">
                            <div class="card-body">
                                <blockquote class="card-bodyquote">
                                    <p>No hay tickets</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <tabset *ngIf="myTickets">
                    <tab>
                        <ng-template tabHeading>Pendientes &nbsp;<span class="badge badge-pill badge-warning">{{myTickets.pending.length}}</span></ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of myTickets.pending">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="myTickets.pending.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Asignado &nbsp;<span class="badge badge-pill badge-danger">{{myTickets.assigned.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of myTickets.assigned">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="myTickets.assigned.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>En progreso &nbsp;<span class="badge badge-pill badge-primary">{{myTickets.inProggress.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of myTickets.inProggress">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="myTickets.inProggress.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Completado &nbsp;<span class="badge badge-pill badge-success">{{myTickets.completed.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of myTickets.completed">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="myTickets.completed.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Cancelado &nbsp;<span class="badge badge-pill badge-danger">{{myTickets.canceled.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of myTickets.canceled">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="myTickets.canceled.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Tickets que atendido
            </div>
            <div class="card-body">
                <div class="row" *ngIf="!ticketsAssignedToMe">
                    <div class="col-md-12">
                        <div class="card text-white bg-danger text-center">
                            <div class="card-body">
                                <blockquote class="card-bodyquote">
                                    <p>No hay tickets</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <tabset *ngIf="ticketsAssignedToMe">
                    <tab>
                        <ng-template tabHeading>Asignado &nbsp;<span class="badge badge-pill badge-danger">{{ticketsAssignedToMe.assigned.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of ticketsAssignedToMe.assigned">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="ticketsAssignedToMe.assigned.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>En progreso &nbsp;<span class="badge badge-pill badge-primary">{{ticketsAssignedToMe.inProggress.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of ticketsAssignedToMe.inProggress">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="ticketsAssignedToMe.inProggress.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Completado &nbsp;<span class="badge badge-pill badge-success">{{ticketsAssignedToMe.completed.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of ticketsAssignedToMe.completed">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="ticketsAssignedToMe.completed.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>Cancelado &nbsp;<span class="badge badge-pill badge-danger">{{ticketsAssignedToMe.canceled.length}}</span>
                        </ng-template>
                        <div class="ticket-list overflow-auto">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let ticket of ticketsAssignedToMe.canceled">
                                    <app-ticket [ticket]="ticket"></app-ticket>
                                </div>
                                <div class="col-md-12" *ngIf="ticketsAssignedToMe.canceled.length === 0">
                                    <div class="card text-white bg-danger text-center">
                                        <div class="card-body">
                                            <blockquote class="card-bodyquote">
                                                <p>No hay tickets</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>