<app-craete-branch-office #create (branchOfficeCreated)="branchOfficeSaved($event)"></app-craete-branch-office>
<app-edit-branch-office #edit (branchOfficeEdited)="branchOfficeUpdate($event)"></app-edit-branch-office>

<div class="row">
  <div class="col-lg-12 add">
    <button type="button" class="btn btn-info mr-1" data-toggle="modal" (click)="create.show()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <br><br>
  <div class="col-lg-12 table">
    <div class="card">
      <div class="card-header">
        Sucursales
      </div>
      <div class="card-body">
        <table *ngIf="branchOffices && branchOffices.length !== 0" class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Sucursal</th>
              <th>Domicilio</th>
              <th>Estatus</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let branchOffice of branchOffices">
              <td class="info">{{ branchOffice.name }}</td>
              <td class="info">{{ branchOffice.address }}</td>
              <td>
                <span *ngIf="branchOffice.active" class="badge badge-success">Activo</span>
                <span *ngIf="!branchOffice.active" class="badge badge-secondary">Inactivo</span>
              </td>
              <td class="button-actions">
                <button type="button" class="btn btn-ghost-primary" (click)="edit.show(branchOffice._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-ghost-primary" (click)="chageStatus(branchOffice)">
                  <i *ngIf="branchOffice.active" class="fa fa-times" aria-hidden="true"></i>
                  <i *ngIf="!branchOffice.active" class="fa fa-check" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="branchOffices && branchOffices.length === 0" class="card text-white bg-danger text-center">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>No hay sucursales para mostrar</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
