<div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Subcategoria</h4>
                <button type="button" class="close" (click)="edit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="subcategoryForm">
                    <div class="form-group">
                      <label for="branchOffice">Categoria</label>
                      <select formControlName="category" name="category" class="form-control" id="categoryEdit">
                        <option>---</option>
                        <option *ngFor="let category of categories" [value]="category._id">
                            {{category.name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Subcategoria</label>
                        <input formControlName="subcategory" name="subcategory" type="text" class="form-control" id="subcategoryEdit"
                            placeholder="Subcategoria">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                <button type="button" class="btn btn-info" (click)="update()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
