<div class="modal fade" bsModal #assignModal="bs-modal" tabindex="-1">
    <div class="modal-dialog modal-info modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asignar</h4>
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center mt-3">
                    <h4 class="col-md-12 text-center">Las 3 mejores opciones</h4>
                    <small class="col-md-12 text-center">(Presiona sobre el usuario para asignarlo a tu ticket)</small>
                    <br>
                    <div class="col-md-4" *ngFor="let user of usersRecomend | slice:0:3">
                        <div class="card" (click)="cardAssign(user.id)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="avatar avatar-sm">
                                            <img *ngIf="user.picture" class="img-avatar" src="{{url + '/user/picture/' + user.picture}}">
                                            <img *ngIf="!user.picture" class="img-avatar" src="assets/img/avatars/default.jpeg">

                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        {{user.name}} {{user.lastName}}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-10">
                                        <div class="callout callout-warning">
                                            <small class="text-muted"><i class="fa fa-trophy fa-lg" aria-hidden="true"></i> Recomendado</small><br>
                                            <strong class="h4">{{user.recomendacion}}%</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <label for="assignedTo">o elige a alguien de la siguiente lista</label>
                        <select [(ngModel)]="userSelected" class="form-control" id="assignedTo">
                            <option>---</option>
                            <ng-container *ngFor="let user of users">
                                <option *ngIf="userLogged._id !== user._id" [value]="user._id">{{ user.name + ' ' + user.lastname }}</option>
                            </ng-container>
                        </select>
                    </div>
                    
                    <small class="col-md-8 text-center mt-2">O si lo prefieres deja que el sistema te recomiende a la mejor opción dando click en asignar automaticamente</small>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="hide()">Cancelar</button>
                <button class="btn btn-success" (click)="autoAssign()" *ngIf="!userSelected || userSelected === '---'">Asignar automaticamente</button>
                <button class="btn btn-info" (click)="assign()">Asignar</button>
            </div>
        </div>
    </div>
</div>
